body {
    overflow: scroll !important;
}

#graphics-paywall-overlay {
    display: none !important;
}

.paywall-inline-tout {
    display: none !important;
}


/* handle new pay wall*/

p {
    display: block !important;
}

.content-accessories--left-rail,
.share-article-button,
.share-article-button__option {
    display: block !important;
}

.share-article-button__icon {
    display: inline-block !important;
}

.brokerboxarticle,
.brokerboxarticle .bb-ads__ad {
    display: block !important;
}


/* image */

.figure-expandable,
.figure-expandable .image,
.lazy-img,
.lazy-img img {
    display: block !important;
}

figcaption,
.news-figure-caption-text,
.news-figure-credit {
    display: block !important;
}


/* text speech */

.text-to-speech,
.text-to-speech__controls {
    display: block !important;
}

.text-to-speech__input-button,
.text-to-speech__runtime {
    display: inline-block !important;
}


/* below paywall */

#paywall-banner {
    display: none !important;
}


/* chart-js */

figure,
.chart,
.chart-js,
.chart__container,
.chart__container iframe {
    display: block !important;
}


/* iframe */

.thirdparty-embed.coronavirus-data-dashboard,
.thirdparty-embed__container,
.thirdparty-embed__iframe {
    display: block !important;
}


/*mobile signin wall*/

#reg-ui-client {
    display: none;
}